<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://githubmonitorapp20240725105922.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/768cf9d6-ff45-4b00-abb1-4aeeb849c8c4/resourcegroups/AzureFunctionsDemos/providers/Microsoft.Web/sites/GitHubMonitorApp20240725105922</ResourceId>
    <UserName>$GitHubMonitorApp20240725105922</UserName>
    <_SavePWD>true</_SavePWD>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://githubmonitorapp20240725105922.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>